<div class="flex items-center mb-8">
    <div class="text-6xl font-bold">{{currencySymbol()}}</div>
    <input #amountInput
           id="amountInput"
           type="text"
           [placeholder]="placeholder"
           [value]="displayValue()"
           (input)="onInput($event)"
           (keydown)="onKeyDown($event)"
           autocomplete="off"
           spellcheck="false"
           autocorrect="off"
           inputmode="decimal"
           class="input h-auto text-6xl font-bold border-none focus:border-none outline-none focus:outline-none focus-within:outline-none placeholder:text-gray-500" />
</div>

<fieldset class="fieldset mb-6">
    <legend class="fieldset-legend">Expenses for month</legend>
    <select [(ngModel)]="selectedMonth" class="select select-lg">
        @for (month of months; track $index) {
            <option>{{ month }}</option>
        }
    </select>
</fieldset>

<ul class="list bg-base-100 rounded-box shadow-xl">

    @for (expense of expenses(); track $index) {
    <li class="list-row items-center break-normal">
        <div>
            <div class="text-md">{{ expense.description }}</div>
        </div>
        <div>
            <div class="text-xl text-right">{{ formatNumberToFixed(expense.amount) }}</div>
        </div>
        <div>
            <div class="text-xl">{{ currencySymbol() }}</div>
        </div>
    </li>
    }

    <li class="list-row items-center">
        <div>
            <div class="text-xl font-bold">Total in {{ selectedMonth() }}:</div>
        </div>
        <div>
            <div class="text-xl font-bold text-right">{{ formatNumberToFixed(totalForSelectedMonth()) }}</div>
        </div>
        <div>
            <div class="text-xl">{{ currencySymbol() }}</div>
        </div>
    </li>

</ul>

@if (loading) {
<div class="bg-loading">
    <span class="loading loading-spinner loading-xl"></span>
</div>
}