<label [attr.for]="id"
       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ label }}</label>
<input [id]="id"
       [value]="value"
       (input)="onChange(convertTarget($event.target!).value)"
       (blur)="onTouched()"
       [attr.placeholder]="placeholder"
       [attr.type]="type"
       autocomplete="off"
       spellcheck="false"
       autocorrect="off"
       [class]="{ 'border': error, 'border-red-600': error }"
       class="input w-full placeholder:text-gray-500 placeholder:italic" />

<div *ngIf="error"
     class="mt-1 text-red-600 text-sm">{{ error }}</div>