<div class="w-full">
    <div class="container mx-auto ">
        <section class="flex flex-col items-center justify-center mt-24">

            <div class="card border border-primary shadow-xl">

                <div class="card-body p-8">

                    <div class="card-title text-3xl mb-4">Login</div>

                    <form [formGroup]="loginForm"
                          class="space-y-4 md:space-y-6"
                          action="#">
                        <div>

                            <bm-custom-input formControlName="username"
                                             type="email"
                                             label="Username"
                                             placeholder="name@company.com"
                                             [error]="getError('username')" />

                        </div>
                        <div>

                            <bm-custom-input formControlName="password"
                                             type="password"
                                             label="Password"
                                             placeholder="••••••••"
                                             [error]="getError('password')" />

                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember"
                                           aria-describedby="remember"
                                           type="checkbox"
                                           class="checkbox checkbox-primary">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember"
                                           class="text-gray-500 dark:text-gray-300">Remember me</label>
                                </div>
                            </div>
                            <a href="#"
                               class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot
                                password?</a>
                        </div>
                        <button type="submit"
                                (click)="handleSubmit()"
                                class="btn btn-primary btn-lg w-full">
                            Sign in
                        </button>

                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            Don’t have an account yet? <a href="#"
                               class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
                        </p>

                    </form>

                </div>

            </div>

        </section>
    </div>
</div>