a > svg {
    fill: color-mix(in oklab, var(--color-base-content) 50%, transparent);
}

a.tab-active, a.tab:hover  {
    background-color: color-mix(in oklab, var(--color-primary, var(--color-base-200)), #000 25%);
}

a.tab-active > svg {
    fill: var(--color-base-content);
}