<nav class="w-full bg-primary shadow-md">
    <div class="mx-auto">

        <div role="tablist"
             class="tabs">
            <a role="tab"
               [routerLink]="['/main', 'input']"
               [routerLinkActive]="['tab-active']"
               [routerLinkActiveOptions]="{exact: true}"
               class="tab hover:bg-primary-200">
                <lucide-icon [img]="plusIcon" />
            </a>
            <a role="tab"
               [routerLink]="['/main', 'overview']"
               [routerLinkActive]="['tab-active']"
               [routerLinkActiveOptions]="{exact: true}"
               class="tab hover:bg-teal-900">
                <lucide-icon [img]="bookIcon" />
            </a>
            <a role="tab"
               [routerLink]="['/main', 'user-profile']"
               [routerLinkActive]="['tab-active']"
               [routerLinkActiveOptions]="{exact: true}"
               class="tab hover:bg-teal-900">
                <lucide-icon [img]="userIcon" />
            </a>
        </div>

    </div>

</nav>

<section class="p-6">
    <router-outlet />
</section>